body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}


.card.mb-3 {
    padding: 0px;
}

.card-body {
    padding: 0px;
}

.navbar nav{
    background-color: white;
    width: 100%;
}
.nav-item {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.page-footer p {
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.no-gutters {
    padding-left: 20px;
}

h2 {
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #4AAAA5;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #4AAAA5;
    width: 100%;
}

.col-md-3 {
    margin-right: 5px;
}

h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #4AAAA5;
    padding: 10px;

}

form {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: #4AAAA5;
    color: white;
    margin-bottom: 15px;

}

.form-group {
    padding: 0px 20px;
}

.form-control-sm {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 0;
}

label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

textarea {
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
}


@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .nav-item {
        margin: 5px;
    }

    .col-md-3 {
        margin-right: 50px;
    }

    .container {
        max-width: 900px;
    }
}


@media (max-width: 765px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        
    }

    .nav-item {
        margin: 5px;
    }

    .col-md-3 {
        margin-right: 50px;
    }

    .container {
        max-width: 900px;
    }

    .col-md-3 img {
        width: 200px;
        margin-left: 28%;
        margin-bottom: 15px;
        margin-right: 0px;
    }
}


@media (max-width: 650px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin: auto;
    }

    .navbar {
        padding: 0px;
    }

    .navbar-light .navbar-brand {
        padding: 0;
    }

    h1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .nav-item {
        margin: 5px;
    }

    .col-md-3 {
        margin-right: 50px;
    }

    .container {
        max-width: 900px;
    }

    .col-md-3 img {
        width: 200px;
        margin-left: 28%;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .mb-3 {
        margin: auto;
    }

   
}